@import url("main.css");

.cadForm{
    margin: 50px auto;
    padding: 1px 0px;
    
    background-color: var(--roxoFG);
    
    border-radius: 25px;
    
    box-sizing: content-box;
    
    text-align: center;
    
    width: 30vw;
}

.cadForm > label{
    color: white;
}

.cadForm > p{
    color: white;
}

.cadForm > button{
    font-size: 24px;
    box-shadow: 0px 0px 75px var(--roxoBtn)
}