@import url("main.css");

.logoPanel > h1{
    margin: 20px 0px 0px 50px;
    
    color: white;
    text-shadow: 1px 1px #707070;
    
    font-size: 40px;
}

.logoPanel > img{
    margin: -75px auto -100px 75px;
}

.logoPanel > p{
    color: white;
    
    margin: 10px 0px 0px 50px;
    font-size: 18px;
}