@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald:wght@200&display=swap');

:root{
    /* ROXO */
    //--Btn: #DD00DD;
    //--FG: #4B0082;
    //--BG: #8A2BE2;
    
    /* LARANJA */
    --Btn: #E69500;
    --FG: #BF7C00;
    --BG: #FFA500;
}

header{
    margin: 0px;
    padding: 5px 5px 10px 5px;
    border: 0px;
    
    background-color: var(--FG);
    
    color: white;
    
    box-sizing: border-box;
}

.Title{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    margin: 0px 0px 10px 0px;
    
    color: white;
    
    border-radius: 5px;
    
    font-size: 48px;
    font-weight: bold;
    
    text-decoration: none;
}

.Button{
    margin: 0px 0px 15px 0px;
    padding: 2px 8px;
    border: 0px;
    border-radius: 5px;
    
    background-color: var(--Btn);
    color: white;
    
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.ImageButton{
    display: inline-block;
    
    padding: 5px 5px 0px 5px;
    border-radius: 150px;
    
    background-color: var(--Btn);
    
    position: absolute;
    right: 15px;
    top: 15px;
}

.ImageButton > img{
    width: 50px;
    height: 50px;
    border-radius: 150px;
}

header > nav{
    text-align: right;
}

body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    
    box-sizing: border-box;
    
    background-color: var(--BG);
    
    font-family: 'Noto Sans';
    
    min-height: 100vh;
}

footer{
    margin: 50px 0px 0px 0px;
    padding: 20px;
    border: 0px;
    
    background-color: var(--FG);
    color: white;
    
    text-align: center;
    
    box-sizing: border-box;
    
    width: 100%;
}

footer > div{
    display: inline-block;
    
    text-align: center;
}

footer > div > ul > li > a{
    color: white;
}

.textfield > label{
    color: white;
}
.textfield > input{
    margin: 0px 0px 20px 0px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    
    background-color: #FFFFFF;
    color: black;
    
    box-shadow: 0px 0px 75px var(--BG);
    box-sizing: border-box;
    
    font-size: 12pt;
    text-align: center;
    
    width: 90%;
}

.textfield > select{
    margin: 0px auto 20px auto;
    border-radius: 5px;
    
    background-color: #515151;
    color: white;
    
    width: 20%;
    height: 25px;
}