@import url("produtosEstilo.css");

.orcamento{
    text-align: center;
}

.orcForm{
    margin: 50px auto;
    padding: 1px 0px;
    
    background-color: var(--FG);
    
    border-radius: 25px;
    
    box-sizing: content-box;
    
    text-align: center;
    
    width: 80vw;
}

.orcForm > label{
    color: white;
}

.orcForm > p{
    color: white;
}

.corcForm > button{
    font-size: 24px;
    box-shadow: 0px 0px 75px var(--Btn)
}

.produto{
    background-color: var(--Btn);
}

.produto_number{
    width: 40px;
}

#total{
    margin: 5px 0px;
    
    font-size: 24px;
}