@import url("main.css");

.perfPanel{
    margin: 25px 0px 0px 0px;
    
    text-align: center;
}

.perfPanel > nav{
    margin: 20px auto 5px auto;
    padding: 20px 20px;
    border-radius: 25px;
    
    background-color: var(--roxoFG);
    
    width: 50vw;
}

.perfPanel > form{
    display: inline-block;
    margin: 0px 0px 25px 0px;
    padding: 10px 10px 0px 10px;
    
    border-radius: 25px;
    background-color: var(--roxoFG);
}

.perfPanel > img{
    border-radius: 50px;
}

.perfPanel > label{
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.perfPanel > h2{
    margin: 0px auto 20px auto;
    border-radius: 25px;
    
    background-color: var(--roxoFG);
    color: white;
    
    text-align: center;
    
    width: 30vw;
}