@import url("main.css");

.orcamento{
    text-align: center;
}

.buscaForm{
    padding: 100px 0px 0px 0px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    
    background-color: var(--roxoFG);
    color: white;
    
    text-align: center;
    
    width: 210px;
    height: 100vh;
}

.buscaForm > select{
    margin: 0px auto 20px auto;
    border-radius: 5px;
    
    background-color: #515151;
    color: white;
    
    text-align: center;
    
    width: 100px;
    height: 25px;
}

.buscaForm > input[type=number]{
    margin: 0px auto 20px auto;
    border-radius: 5px;
    
    background-color: #515151;
    color: white;
    
    text-align: center;
    
    width: 75px;
    height: 25px;
}

.produtosPanel{
    display: inline-block;
    
    margin: 15px 0px 0px 210px;
    
    text-align: center;
}

.produto{
    display: inline-block;
    
    margin: 2px;
    border-radius: 5px;
    
    background-color: var(--roxoFG);
    
    text-align: center;
    vertical-align: bottom;
    
    justify-content: center;
    
    max-width: 210px;
    min-height: 250px;
}

.produto > label{
    color: white;
}

.produto > img{
    margin: 15px;
    border-radius: 5px;
    
    background-color: var(--roxoFG);
    
    width: 50%;
    height: 50%;
}

.produto > p{
    margin: 2px 0px;
    
    color: white;
}

.produto_valor{
    font-size: 18px;
}

.produto_vendedor{
    font-size: 12px;
}